* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  padding 20px 0;
  display: flex;
  column-gap: 3em;
  object-fit:
    margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-outline-success {
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  background-image: none;
  border-color: rgba(0, 0, 0, .5);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .5);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  font-family: Helvetica, Arial, Geneva, sans-serif !important;
}

.navbar .navbar-collapse {
  text-align: center;
}
.page{
  display: flex;
  align-items: center;
  margin: auto;
}
.generate-box{
  display:flex;
  align-items: center;
}
button {
  background-image: url(images/button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 242px;
  width: 609px;
  border: none;
  -webkit-appearance: none;

}

button:hover {
  background-image: url(images/button-click.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 242px;
  width: 609px;
  border: none;
  -webkit-appearance: none;

}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


button span {
  display: none;
}

.color-boxes {
  width: 90%;
  padding:1.5em;
  margin-left: 1.5em;
  display: flex;
}

.color-box{

}

.color-boxes .color-box .img { width: 100%; height: 100%; background-color: #C60; }
.dashboard-buttons .sessions .img { -webkit-mask-image: url(/images/color_block.png); }

/* Mobile Styles */
@media only screen and (max-width: 401px) {}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {}

/* Desktop Styles */
@media only screen and (min-width: 961px) {}
