* {
  margin: 1em;
  padding: 0;
  box-sizing: border-box;
}
img{
  width:100%;
  height:auto;
  object-fit: contain;
}

.container-fluid {
  padding 0 0;
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-outline-success {
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  background-image: none;
  border-color: rgba(0, 0, 0, .5);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .5);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  font-family: Helvetica, Arial, Geneva, sans-serif !important;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar img{
  width:50%;
  height: auto;
  object-fit: contain;
}
.page{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.generate-box{
  display:flex;
  flex-direction: column;
  align-items: center;
}



.page button {
  background-image: url(images/button.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 242px;
  width: 609px;
  border: none;
  -webkit-appearance: none;

}

.page button:hover {
  background-image: url(images/button-click.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 242px;
  width: 609px;
  border: none;
  -webkit-appearance: none;

}

.page button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.page button span {
  display: none;
  border: none;
}

.color-boxes{
  display: flex;
  flex-direction: row;
}



.color-boxes .color-box .img { width: 100%; height: 100%; background-color: #C60;}
.color-boxes .color-box .img { -webkit-mask-image: url('/images/color_block.png'); }


.banner-text {
  position: relative;
  text-align: center;
  color: rgba(0,0,0,.5);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile Styles */
@media only screen and (max-width: 401px) {
  .navbar img{
    width:100%;
    height: auto;
    object-fit: contain;
  }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .navbar img{
    width:100%;
    height: auto;
    object-fit: contain;
  }


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {}
